
/* use with variable.classList.toggle('toggle-display') to show and hide an element */
.toggle-display {
    display: none;
}

.divCard {

    width: 18rem;
    height: 18rem;
    border-radius: 5px;
    margin: 10px;
    background-size: cover;
    display: flex;
    align-items: center;
   justify-content: center;
   display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.page {
   
    flex-direction: row;
}